span{
    color: white;
    font-family: cursive;
    font-size: 30px;
    }
  
div{
    padding: 5px;
    background-color: #333;
    font-family: cursive;
}
#logout{
    background-color: #333;
    color: white;
    float: right;
}

#name{
margin-top: 20px;
padding: 4px;
width: 400px;
font-size: 20px;
}

#button{
    margin-top: 20px;
    padding: 4px;
    background-color: rgb(43, 128, 43);
    font-size: 20px;
    }

    li{
list-style: none;
padding: 2px;
}
 
#delet{
    background-color:red;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 10px;
    padding: 2px;
    } 

    #edit{
        background-color:green;
font-size: 20px;
border-radius: 10px;
margin-left: 3px;
        } 

        #dat{
font-size: 30px;

        }