ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  h1{
      
      margin-top: 20px;
  }
  /*                     ------Body ----------------- Section-------                                                                                 */
#div{
  /* border: 2px solid black; */
  width: 500px;
  height: 270px;
  margin-left: 400px;
  margin-top: 70px;
border-radius: 30px ;
background-color:  rgba(218, 230, 218, 0.9)
  }
  form{
text-align: center;
margin-top: 20px;
font-size:30px;
padding-top: 20px;
  }
#email{
  width: 200px;
  padding: 4px;
}
#password{
  width: 200px;
  padding: 4px;
}
#btn1{
  padding: 5px;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  border-radius: 20px;

}
#btn2{
  padding: 5px;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  border-radius: 20px;



}